@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Permanent+Marker:100,200,300,400,500,600,700,800,900');


html,
body {
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x:hidden;
}

.bg {
     background: url("../images/monkeesblackandwhite.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: relative;
    background-position: center;
    min-height: 950px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/***************************************Heading*/

.main-title {
    font-family: 'Permanent Marker', sans-serif;
    font-weight: 200;
    font-size: 80px;
    /*color: #505050;*/
    color: #e80000;
    text-align: center;
    letter-spacing: 4px;
    background-color: transparent;
    text-shadow: 1px 1px 1px white, 4px 4px 6px black;
    margin-top: 0;
}

/***************************************Menu*/

#nav {
    margin: 0;
}

.navbar {
    background-color: transparent;
    border: 0px;
}

.navbar-toggle {
    background-color: transparent;
    color:white;
    position: relative;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #e80000;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

#nav li {
    padding: 0;
}

.menuitem {
    margin-top: 0px;
    height: 30px;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #808080;
    background-color: white;
}

.menuitem a i {
    padding-top: 15px;
    display: block;
    color: #808080;
    font-size: 15px;
    border: 0px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: #808080;
    text-shadow: 0px 0px 0px #000;
}

.ui-menu-color-home {
    background-color: transparent;
}

.list-inline {
    background-color: white;
}

.uppercase {
    text-transform: uppercase;
}

.hvr-rectangle-out:before {
    background: rgba(0, 0, 0, 0.2);
}

.booking-button {
    text-align: center;
}


/***************************************Bookings*/

.btn-primary {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-width: 3px;
    text-align: center;
    border: 3px solid white;
    position: relative;
}

.about-text {
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 0px #000;
}

.about-text h2 {
    font-family: "Permanent Marker", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    padding-bottom: 15px;
    color: #e80000;
    font-weight: 700;
    text-shadow: 1px 1px 1px white, 4px 4px 6px black;
}



.about {
    color: white;
}

/***************************************Audio*/

.birds-and-bees {
    background: url("../images/birdsandbees.jpg") no-repeat center;
    height: 150px;
    margin-bottom: 10px;
    background-position: center;
}

.clarksville-album-cover {
    background: url("../images/clarksville-album-cover.jpg") no-repeat center;
    height: 150px;
    margin-bottom: 10px;
    background-position: center;
}

.SteppingStone {
    background: url("../images/stepping-stone-album-cover.jpg") no-repeat center;
    height: 150px;
    margin-bottom: 10px;
    background-position: center;
}

.song-title {
    text-align: center;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 1px white, 4px 4px 6px black;

}

.fancy-a-listen h3 {
    font-family: "Permanent Marker", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    padding-bottom: 15px;
    text-align: center;
    color: #e80000;
    font-weight: 700;
    text-shadow: 1px 1px 1px white, 4px 4px 6px black;
}

.song-title h4 {
    letter-spacing: 4px;
    font-size: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 0px #000;

}

.audio {
    margin-top: 25px;
}

/***************************************Video*/

.watch-video h3 {
    font-family: "Permanent Marker", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 600;
    color: #e80000;
    text-shadow: 1px 1px 1px white, 4px 4px 6px black;
}

.video-title h4 {
    letter-spacing: 4px;
    font-size: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 0px #000;
}

.video {
    margin-top: 25px;
    text-align: center;
}

.video-box {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 25px;
}

/***************************************Members*/

.members {
    margin-top: 0px;
}

.members h4 {
    text-align: left;
    text-shadow: 2px 2px 0px #000;
    color: #e80000;
    font-size: 25px;
}

.members p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 0px #000;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.member p {
    padding: 0;
    margin: 0;
}

.read-more {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px #000;
}

.in-the-band h3 {
    font-family: "Permanent Marker", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 600;
    color: #e80000;
    text-shadow: 1px 1px 1px white, 4px 4px 6px black;
}

.dj {
    background: url("../images/dj.jpg") no-repeat center;
    height: 200px;
    width:200px;
    background-position: center;
    margin-bottom: 25px;

}

.md {
    background: url("../images/md.jpg") no-repeat center;
    height: 200px;
    width:200px;
    background-position: center;
    margin-bottom: 25px;

}

.mn {
    background: url("../images/mn.jpg") no-repeat center;
    height: 200px;
    width:200px;
    background-position: center;
    margin-bottom: 25px;

}

.pt {
    background: url("../images/pt.jpg") no-repeat center;
    height: 200px;
    width:200px;
    background-position: center;
    margin-bottom: 25px;

}

/***************************************Contact*/

.contact-heading {
    font-family: "Permanent Marker", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #e80000;
    text-shadow: 1px 1px 1px white, 4px 4px 6px black;
    position: relative;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
    position: relative;
}

.center-form label {
    color: #808080;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.bg-color-contact {
    margin-top: 25px;
    text-shadow: 1px 1px 1px white, 4px 4px 6px black;
    color: white;
}

.bg-color-contact h5 {
    margin-top: 30px;
    text-shadow: 2px 2px 0px #000;
    color: white;
     position: relative;
}

.form-control {
    margin-top: 15px;
    color: #A0A0A0;
}

/***************************************Footer*/

footer {
    background-color: #ffffff;
    color: #ffffff;
    max-height: 60px;
    margin: 0;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}

.social-links {
    padding-bottom: 15px;
    text-align: center;
    background-color: white;
    margin-bottom: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
    background: #808080;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: white;
}

#footer-details {
    text-align: center;
    color: #808080;
    font-weight: 500;
}

.social-inline {
    background-color: white;
}

.footer {
    position: relative;
    left: 0;
    bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
}

/***************************************General*/

.text-background {
    background-color: rgba(0, 0, 0, 0.3);
}

hr {
    width: 60%;
    border: 0;
    border-bottom: 3px solid white;
    background: #ffffff;
    position: relative;
}

.hr-dark {
    width: 60%;
    border: 0;
    border-bottom: 1px solid #808080;
    background: #ffffff;

}

.clear{
    clear:both;
}

a:link{
  text-decoration: none;
}




